{
  "env": {
    "test": {
      "presets": [["env"], "react"],
      "plugins": [["babel-plugin-styled-components", { "displayName": true }]]
    },
    "production": {
      "plugins": [["babel-plugin-styled-components", { "displayName": false }]]
    }
  },
  "plugins": [
    ["module-resolver", { "root": ["./src"] }],
    ["babel-plugin-styled-components", { "displayName": true }]
  ]
}
