{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ],
    "react"
  ],
  "env": {
    "production": {
      "plugins": [
        ["babel-plugin-styled-components", { "displayName": false }],
        [
          "babel-plugin-remove-attribute",
          {
            "attribute": "data-selector"
          }
        ]
      ]
    }
  },
  "plugins": [
    ["module-resolver", { "root": ["./src"] }],
    ["babel-plugin-styled-components", { "displayName": true }]
  ]
}
