{
  "plugins": [
    ["module-resolver", { "root": ["./src"] }],
    ["babel-plugin-styled-components", { "displayName": true }]
  ],
  "env": {
    "production": {
      "plugins": [
        ["babel-plugin-styled-components", { "displayName": false }],
        [
          "babel-plugin-remove-attribute",
          {
            "attribute": "data-selector"
          }
        ]
      ]
    }
  }
}
