{
  "extends": [
    "xo-space/browser",
    "xo-space/esnext",
    "xo-react",
    "prettier",
    "prettier/react",
    "plugin:jest/recommended"
  ],
  "rules": {
    "react/prop-types": 0,
    "new-cap": 0
  },
  "env": {
    "jest": true
  }
}
