# Project dependencies
.cache
node_modules
yarn-error.log

# Build directory
/public
.DS_Store

# Test outputs we shouldn't commit
cypress/videos
cypress/screenshots

# Environment configuration we shouldn't commit
/cypress.env.json
.env