# you can use this file to override baseUrl from cypress.json and also
# to provide environment variables to our integration test suite via
# Cypress.env('KEY')

{
  "baseUrl": "http://yld.netlify.com/"
}
